@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ElementHero>



@*<style>
header.masthead1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

masthead-subheading{
    font-size: 30px;
    
}
</style>*@

<header class="masthead" style="background-image:url('@Model.Content.Image.Url()')">
    
    <div class="container">
        <div class="masthead-subheading">@Model.Content.PreHeading</div>
        <div class="masthead-heading text-uppercase">@Model.Content.Heading</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" target="@Model.Content.CallToActionLink.Target" href="@Model.Content.CallToActionLink.Url">@Model.Content.CallToActionLink.Name</a>
    </div>
</header>